body {
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0 auto;
    height: 100vh;
    min-height: calc(100vh - 100px);
    font-family: monospace;
    
}

header {
    height: 30vh;
    text-align: center;
}
header h1 {
    font-size: 1.5rem;
}
header p {
    font-size: 1rem;
}
img {
    width: 170px;
    height: 170px;
    object-fit: cover;
    border-radius: 50%;
}

hr {
    width: 80%;
    margin : 10px auto;
}

.project-card {
    width: 20vw;
    max-width: 40vw;
    margin: 0 auto;
    padding: 10px;

    border-radius: 10px;
    box-shadow: 0 4px 8px grey;
    transition: transform 0.3s, box-shadow 0.3s;
}
.project-card:hover {
    box-shadow: 0 8px 16px rgb(37, 99, 27);
    transform: scale(1.1);
}
.project-card-links {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.project-card-links button {
    background-color: grey;
    font-family: monospace;
}
.project-card-links button:hover{
    background-color: whitesmoke;
}
.project-card-links button:active{
    background-color: lightgrey;
}

.project-logo {
    width: 50px;
    height: 50px;
}

