:root {
  --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  --font-mono: 'SF Mono', SF Mono, Consolas, "Liberation Mono", Menlo, Courier, monospace;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-sans);
    min-height: 100vh;
    width: 100%;
    margin: 0 auto;
}

/* Main Grid Layout for the Landing Page */
#landing-page-grid {
    display: grid;
    grid-template-areas:
    "header header header header"
    "who-are-you who-are-you who-are-you who-are-you"
    "text text text text";

    grid-template-rows: 8vh 25vh 10vh 1fr;
    grid-template-columns: repeat(4, minmax(2rem, 1fr));
}

/* Header styles */
.page-header {
    grid-area: header;
    position: relative;
    z-index: 10;
    border-bottom: 1px solid #e0e0e0;
}

/*Hidden checkbox for toggling the menu*/
.page-header #menu-toggle {
    display: none;
}

/*Flex container for header contents*/
.page-header .header-items {
    height: 100%;
    display: flex;
    z-index: 3;
    justify-content: space-between;
    padding: 0 3rem 0 2rem;
    align-items: center;
    position: relative;
    background: white;
}

/* Logo and navigation size */
#logo, #nav-icon{
    width: 1.625rem;
    height: 1.625rem;
}

.nav-button{
    cursor: pointer;
}

#nav-icon {
    transition: transform 0.5s ease;
}

.nav-menu {
    position: absolute;
    width: 100%;
    height: 25vh;
    top: 100%;
    border: 2px solid #e0e0e0;
    border-top: none;
    transform: translateY(-100%);
    transition: transform 0.5s ease;
    pointer-events: none;


    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    background: white;
}

/* TODO: Continue Nav Menu Styling */
.nav-menu a{
    font-family: var(--font-mono);
    text-decoration: none;
    color: black;
    letter-spacing: 0.04rem;
}
/* Using a Next Combinator selector to toggle the menu and rotate the nav-icon */
#menu-toggle:checked + .header-items .nav-button #nav-icon {
    transform: rotate(-180deg);
}
#menu-toggle:checked + .header-items + .nav-menu {
    transform: translateY(0);
    pointer-events: auto;
}

/* STYLE: LANDING PAGE BODY */
.who-are-you {
    grid-area: who-are-you;
    border-bottom-left-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
    
    position: relative;
    overflow: hidden;
}

.who-are-you #my-picture {
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: grayscale(50%);
    z-index: 1;
    align-items: center;
}
.who-are-you::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20%;

    background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.15),
        rgba(0, 0, 0, 0)
    );

    z-index: 2;
    pointer-events: none;
}


.tech-stack-highlights {
   
    position: absolute;
    top: 0;
    left: 0;
    color: black;
    
    width: 100%;
    height: 100%;
    
    padding: 0.4rem;
    display: grid;
    grid-template-columns: 
    minmax(2rem, 1fr)
    minmax(2rem, 1fr)
    minmax(2rem, 3fr)
    minmax(2rem, 1fr)
    minmax(2rem, 1fr);
    
    grid-template-rows: repeat(5, 1fr);

    grid-template-areas:
    ". . . . ."
    ". name . . ."
    ". description . . ."
    ". . . . ."
    "iOS macOS . tvOS watchOS";
}

.name, .description {
    font-family: monospace;
    font-size: 0.8rem;
}
.name {
    grid-area: name;
    font-weight: 900;
    justify-self: start;
    grid-column: 2 / 5;
    white-space: nowrap;
}
.description {
    grid-area: description;
    font-weight: 500;
    justify-self: start;
}
.hero-text {
    font-size: 0.9rem;
    align-self: end;
    justify-self: center;
    font-weight: 700;
    letter-spacing: 0.02rem;
    position: relative;
    transform: translateY(-20%);
}
.iOS {
    grid-area: iOS;
    background: linear-gradient(135deg, #2F80ED, #56CCF2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: none;   
}
.tvOS {
    grid-area: tvOS;
    color: #9B51E0;
    display: none;   

}
.watchOS {
    grid-area: watchOS;
    color: #27AE60;
    display: none;   
}
.macOS {
    grid-area: macOS;
    color: #F2994A;
    display: none;   
}

.text {
    grid-area: text;
    padding: 2rem;
    justify-self: center;
    align-self: end;
    letter-spacing: 0.08rem;
}

/* STYLE: ABOUT PAGE */
.about-page-grid {
    display: grid;
    grid-template-areas:
    "header header header header"
    "page-intro page-intro page-intro page-intro"
    "content-1 content-1 content-1 content-1"
    "content-2 content-2 content-2 content-2";

    grid-template-rows: 8vh 1fr 1fr 1fr;
    grid-template-columns: repeat(4, minmax(2rem, 1fr));
    
}

.page-intro {
    grid-area: page-intro;
    border-bottom: 2px solid #e0e0e0;
    border-bottom-left-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
    padding: 0 2.5rem;
    box-shadow: 0 4px 6px -4px rgba(0, 0, 0, 0.1);
}

.page-intro-text{
    font-family: var(--font-mono);
    font-size: 3rem;
    font-weight: 900;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.page-intro-description{
    font-family: var(--font-sans);
    font-weight: 200;
}

.page-intro-description span {
    display: block;
}

.page-intro-blurb {
    font-family: var(--font-sans);
    font-weight: 300;
    margin: 2rem 0;
    line-height: 1.25rem;
}
.highlight {
    font-weight: 500;
    opacity: 0.9;
}
.content-1 {
    grid-area: content-1;
}

.content-2 {
    grid-area: content-2;
}