* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'SF Pro Display', sans-serif;
    min-height: 100vh;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
    "header header header header"
    "who-are-you who-are-you who-are-you who-are-you"
    "text text text text";

    grid-template-rows: 8vh 25vh 10vh 1fr;
    grid-template-columns: repeat(4, minmax(2rem, 1fr));
}

header {
    grid-area: header;
    position: relative;
    z-index: 10;
}

#menu-toggle {
    display: none;
}
header .header-container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.85rem;
    align-items: flex-end;
    margin: 0 1rem;
    position: relative;
    z-index: 3;
    background: white;
}

#logo {
    text-align: center;
}
#logo, #nav-icon{
    width: 1.625rem;
    height: 1.625rem;
}

.nav-button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#nav-icon {
    transition: transform 0.5s ease;
}

.nav-menu {
    position: absolute;
    width: 100%;
    height: 25vh;

    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    gap: 1rem;
    justify-content: center;
    align-items: center;

    background: white;
   
    top: 100%;
    transform: translateY(-100%);
    transition: transform 0.5s ease;
    
    z-index: 1;
    pointer-events: none;
}

.nav-menu a{
    text-decoration: none;
    color: black;
    letter-spacing: 0.04rem;
}

#menu-toggle:checked + .header-container .nav-button #nav-icon {
    transform: rotate(180deg);
}
#menu-toggle:checked + .header-container + .nav-menu {
    transform: translateY(0);
    pointer-events: auto;
}

.who-are-you {
    grid-area: who-are-you;
    border-bottom-left-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
    
    position: relative;
    overflow: hidden;
}

.who-are-you #my-picture {
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: grayscale(50%);
    z-index: 1;
    align-items: center;
}
.who-are-you::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20%;

    background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.15),
        rgba(0, 0, 0, 0)
    );

    z-index: 2;
    pointer-events: none;
}


.tech-stack-highlights {
   
    position: absolute;
    top: 0;
    left: 0;
    color: black;
    
    width: 100%;
    height: 100%;
    
    padding: 0.4rem;
    display: grid;
    grid-template-columns: 
    minmax(2rem, 1fr)
    minmax(2rem, 1fr)
    minmax(2rem, 3fr)
    minmax(2rem, 1fr)
    minmax(2rem, 1fr);
    
    grid-template-rows: repeat(5, 1fr);

    grid-template-areas:
    ". . . . ."
    ". name . . ."
    ". description . . ."
    ". . . . ."
    "iOS macOS . tvOS watchOS";
}

.name, .description {
    font-family: monospace;
    font-size: 0.8rem;
}
.name {
    grid-area: name;
    font-weight: 900;
    justify-self: start;
    grid-column: 2 / 5;
    white-space: nowrap;
}
.description {
    grid-area: description;
    font-weight: 500;
    justify-self: start;
}
.hero-text {
    font-size: 0.9rem;
    align-self: end;
    justify-self: center;
    font-weight: 700;
    letter-spacing: 0.02rem;
    position: relative;
    transform: translateY(-20%);
}
.iOS {
    grid-area: iOS;
    background: linear-gradient(135deg, #2F80ED, #56CCF2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: none;   
}
.tvOS {
    grid-area: tvOS;
    color: #9B51E0;
    display: none;   

}
.watchOS {
    grid-area: watchOS;
    color: #27AE60;
    display: none;   
}
.macOS {
    grid-area: macOS;
    color: #F2994A;
    display: none;   
}

.text {
    grid-area: text;
    padding: 2rem;
    justify-self: center;
    align-self: end;
    letter-spacing: 0.08rem;
}
